@use "@/styles/colors";
@use "@/styles/mixins";

.form__input{
    width: 100%;
    padding: 1.6em 1.6em 1.3em;
    border-radius: 5px;
    border: 1px solid colors.$grayishBlue;
    outline-color: colors.$blue;

    &::placeholder {
        @include mixins.style(.95rem, 700, rgba(colors.$blue, .7), 0 0 0 .5em);
    }

    &--warnning {
        font-style: italic;
        text-align: right;
        display: none;
        @include mixins.style(.7rem, 500, colors.$red, .5em 0 .2em);
    }

    &--label {
        position: relative;
    }

    &--error--icon {
        width: 1.7em;
        height: 1.7em;

        position: absolute;
        right: 1.5em;
        top: .9em;

        background: {
            image: url('../../assets/images/icon-error.svg');
            position: center;
            repeat: no-repeat;
            size: cover;
        }
    }
}