@use "@/styles/colors";
@use "@/styles/mixins";

.form__button {
    border: none;
    border-bottom: 3px inset colors.$darkGreen;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: colors.$green;
    transition: ease-in-out .3s;
    @include mixins.style(1rem, 600, colors.$white, 1.5em 1.1em .8em);

    &:hover {
        opacity: .8;
    }
}